<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			our time is limited, don’t waste it living someone else’s life. Don’t be trapped by dogma, which is living the result of other people’s thinking. Don’t let the noise of other opinions drown your own inner voice. And most important, have the courage to follow your heart and intuition, they somehow already know what you truly want to become. Everything else is secondary. -Steve Job-
		</p>
	</div>

  <a href="http://rauthuycanhcantho.com"><img class="b30" src="http://rauthuycanhcantho.com/images/tinhdausa_1.jpg" alt="http://rauthuycanhcantho.com/"></a>
  <p> Tinh dầu sả đuổi muỗi <a href="http://rauthuycanhcantho.com">xem thêm</a></p>


	<div class="border-dotted radius b30">
		<a href="http://rauthuycanhcantho.com"><img src="http://rauthuycanhcantho.com/images/thuycanh301.jpg" alt="uh, rauthuycanhcantho"></a>
		<p class="text-left">
			Rau thủy canh Cần Thơ <a href="http://rauthuycanhcantho.com/">Xem thêm</a>
		</p>
	</div>
</aside>